PORT=3000
TENANT_ID=eb08b186-76db-468e-8318-4c09fcf5cf92
ENVIRONMENT=USDEV0323
COMPANY=S&K Supermarche
COMPANY_GUID=5f19a4ad-aa01-f111-8405-002248c1699b
CLIENT_ID=REPLACE_WITH_AAD_APP_CLIENT_ID
CLIENT_SECRET=REPLACE_WITH_AAD_APP_CLIENT_SECRET
# IMPORTANT: Do NOT wrap value in quotes in Vercel dashboard. Format is user:pass|STATION
APP_USERS=dhyey.admin:PASSWORD1|CON001,accounts.lub:PASSWORD2|CON002
